<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <%
    @errorMessageLength = (render 'shared/error_messages').length
  %>
  <div class="field">
    <%= (error_field_div_wrapper((f.label :name),"errorLabelFix",@errorMessageLength)) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= (error_field_div_wrapper((f.label :email),"errorLabelFix",@errorMessageLength)) %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= (error_field_div_wrapper((f.label :password),"errorLabelFix",@errorMessageLength)) %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>